---
import '@fontsource-variable/manrope'
import Gradient from '../components/Gradient.astro'
import Link from '../components/Link.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>Glazy.dev</title>
  </head>
  <body
    class="px-6 sm:px-12 py-8 space-y-12 font-sans font-semibold bg-stone-50 text-stone-900"
  >
    <Gradient />
    <main class="text-2xl leading-normal space-y-6 max-w-2xl">
      <p>
        Hi, I&apos;m Luke (also known as Glazy). I&apos;m a Software Developer,
        Indie Creator, and Open Source Advocate.
      </p>

      <p>
        I don&apos;t have a blog currently although it is something I am
        considering...
      </p>

      <p>
        In the meantime, if you want to follow what I&apos;m doing - I&apos;ll
        be on <Link href="https://x.com/@GlazyDev">X</Link>,
        <Link href="https://bsky.app/profile/glazy.dev">BlueSky</Link> and
        <Link href="https://github.com/glazy">GitHub</Link>.
      </p>
    </main>
  </body>
</html>
